{% extends 'includes/base.html' %}

{% block content %}

{% include 'includes/header.html' %}
<!-- title es una varible que definimos en la vista mediante get_context_data 
<h2> {{title}} </h2>
-->

<!-- Con 'object' puedo mostrar el registro 
    que internamente recupero  mi DetailView.
    {{object}}
    Podemos acceder tambien especificando en nombre del Modelo con su primer caracter el miniscula
    ej. Mi modelo es Empleado entonces seria empleado 
    {{empleado}}
-->
<style>

.title {
    font-size: 18px;
    color: black;
}
</style>

<br>

<div class="grid-container">
    <div class="callout success">
  
        <h5 style="text-align: center;">{{title}}</h5>
    
      <div class="">
        <p class="title">Nombre</p>
    <p> {{empleado.first_name}} </p> 
    
    <p class="title">Apellido</p>
    <p>{{object.last_name}}</p>
    
    <p class="title">Departamento</p>
    <p> {{object.departamento}}</p> 
    
    <p class="title">Habilidades</p>
    <p> {{object.habilidades}}</p>
    
    </div>
      <a class="button success large expanded" style="text-align: center;" href="{% url 'persona_app:all-employe' %}">Empleados</a>
    </div>
        
</div>
{% endblock content %}

