{% extends 'includes/base.html' %}

{% block title %}
    Administrar empleados
{% endblock title %}

{% block content %}

{% include 'includes/header.html' %}


<div class="grid-container"> 
    <div class="grid-x">
        <div class="cell">
            <br>
            <h2> Todos los empleados</h2>
            <br>
        </div>

        <div class="cell">
            <!--table -->
            <div class="table-scroll">
            <table >
                <thead>
                  <tr>
                    <th width="200">ID</th>
                    <th>First name</th>
                    <th width="150">Last name</th>
                    <th width="150">Full name</th>
                    <th> Job </th>
                    <th> Department </th>
                    <th> Action </th>
                  </tr>
                </thead>
                <tbody>
                    <!-- listaDeDatos o object_list -->
                    {% for item in object_list %}
                    <tr>
                        <td> {{item.id}}</td>
                        <td>{{item.first_name}}</td>
                        <td>{{item.last_name}}</td>
                        <td>
                            {{item.full_name}}                            
                        </td>
                        <td>{{item.job}}</td>
                        <td>{{item.departamento}}</td>
                        <td>
                            <div class="grid-x grid-margin-x">
                                <div class="cell auto">
                                    <a class="button primary" href="{% url 'persona_app:update-employe' item.id  %}">Editar</a>
                                </div>
                                <div class="cell auto">
                                    <a class="button alert" href="{% url 'persona_app:delete-employe' item.id %}">Eliminar</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
              </table >
              </div>
              <!-- end table -->
        </div>

        <!-- pagination -->
        <div class="cell">
            {% if is_paginated %} <!-- verificamos si existe paginacion habilitada-->
            <nav aria-label="Pagination">
                <ul class="pagination text-center">
                    {% if page_obj.has_previous %} <!-- si  tiene elementos previos -->
                        <li class="pagination-previous">
                            <a href="?page={{page_obj.previous_page_number}}">Atras</a>
                        </li>
                    {% endif %}

                    {% for item in paginator.page_range  %} <!-- recorrer las paginas disponibles-->
                        
                        {% ifequal item page_obj.number %} <!-- verificar cual es la pagina actual-->
                            <li class="current"><span class="show-for-sr">Current page</span>{{item}}</li>
                        {% else %}
                            <li><a href="?page={{item}}" aria-label="Page {{item}}">{{item}}</a></li>
                        {% endifequal %}
                        

                    {% endfor %}
                  
                    {% if page_obj.has_next %}
                    <li class="pagination-next">
                        <a href="?page={{page_obj.next_page_number}}">Siguiente</a>
                    </li>
                    {% endif %}
                </ul>
              </nav>
            {% endif %}
        </div>
        <!-- end pagination-->

    </div>
</div>


{% endblock content %}